<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>
        Samochody i przyczepy
    </title>

    <script>
        function spin(item) {
            item.classList.add("w3-spin")
            console.log('test')
        }
        function stop_spin(item) {
            item.classList.remove("w3-spin")
        }
        
    </script>
</head>

<body>
    <div class="w3-bar w3-khaki">
        <a class="w3-bar-item">
            <canvas id="canvas" width="40" height="20"></canvas>
        </a>
        <a href="#"
            class="w3-bar-item w3-button w3-amber w3-right w3-hide-small w3-border w3-round-large w3-margin-right">Szukaj</a>
        <input type="text" class="w3-bar-item w3-input w3-right w3-hide-small w3-border w3-round-large"
            placeholder="Szukaj...">
        <div class="w3-dropdown-hover w3-right w3-hide-small w3-border w3-round-xlarge w3-margin-right">
            <button class="w3-button">Sprzęt ▼</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="#" class="w3-bar-item w3-button">Komputery</a>
                <a href="#" class="w3-bar-item w3-button">Telefony</a>
                <a href="#" class="w3-bar-item w3-button">Laptopy</a>
            </div>
        </div>
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
            onclick="myFunction()">&#9776;</a>
    </div>

    <div id="demo" class="w3-bar-block w3-red w3-hide w3-hide-large w3-hide-medium">
        <div class="w3-dropdown-hover">
            <button class="w3-button w3-yellow w3-border">Sprzęt ▼</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="#" class="w3-bar-item w3-button">Komputery</a>
                <a href="#" class="w3-bar-item w3-button">Laptopy</a>
                <a href="#" class="w3-bar-item w3-button">Telefony</a>
            </div>
        </div>
        <input type="text" class="w3-bar-item w3-input w3-border" placeholder="Szukaj...">
        <a href="#" class="w3-bar-item w3-button w3-amber w3-border">Szukaj</a>

    </div>


        <div class="w3-row">
        <div class="w3-col l1 m1 w3-container">&nbsp;</div>
        <div id="Laptop-cont" class="w3-container w3-border w3-round-large w3-margin-right w3-section w3-sand w3-col l5 m5">
            <div class="w3-container">
                <h2>Laptop</h2>
            </div>
            <div id="Laptop-button" class="w3-button w3-right w3-black" onclick="sell(Number(document.getElementById('uid').value), 'Laptop', Number(document.getElementById('ilosc').value))">Kup</div>
            <input id="uid" class="w3-input w3-right w3-border" style="width:15%" type="number" placeholder="ID">
            <input id="ilosc" class="w3-input w3-right w3-border" style="width: 15%;" type="number" placeholder="Ilość">
        </div>

        <div id="Komputer-cont" class="w3-container w3-border w3-round-large w3-section w3-sand w3-col l3 m3">
            <div class="w3-container">
                <h2>Komputer</h2>
            </div>
            <div id="Komputer-button" class="w3-button w3-right w3-black" onclick="sell(Number(document.getElementById('k_uid').value), 'Komputer', Number(document.getElementById('k_ilosc').value))">Kup</div>
            <input id="k_uid" class="w3-input w3-right w3-border" style="width:15%" type="number" placeholder="ID">
            <input id="k_ilosc" class="w3-input w3-right w3-border" style="width: 25%;" type="number" placeholder="Ilość">
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col l1 m1 w3-container">&nbsp;</div>
        <!-- <form method="POST" id="warehouse" class="w3-col l1 m1 w3-button w3-black w3-border"> -->
        <div class="w3-col l1 m1 w3-button w3-black w3-border" onclick="warehouse()">Warehouse</div>
        <div class="w3-col l1 m1 w3-button w3-black w3-border" onclick="clients()">Clients</div>
        <input id="client_id" class="w3-col l1 m1 w3-input w3-border" type="number" placeholder="ID">
        <div class="w3-col l1 m1 w3-button w3-black w3-border" onclick="show_transactions(Number(document.getElementById('client_id').value))">Transactions</div>
        <div class="w3-col l1 m1 w3-container">&nbsp;</div>
        <form method="POST" id="Telefon-cont" class="w3-container w3-border w3-round-large w3-margin-right w3-section w3-sand w3-col l3 m3">
            <div class="w3-container">
                <h3>Telefon</h3>
            </div>
            <input name="name" id="name" type="hidden" value="Telefon">
            <input name="uid" id="uid" class="w3-input w3-right w3-border" style="width:15%" type="number" placeholder="ID">
            <input name="ilosc" id="ilosc" class="w3-input w3-right w3-border" style="width: 25%;" type="number" placeholder="Ilość">
            <input value="Kup" type="submit" id="Telefon-button" class="w3-button w3-right w3-black"></div>
        </form>
    </div>

    <div id="out" class="w3-container"></div>

    <div class="w3-row w3-section footer">
        <div class="w3-col l1 m1 s1 w3-container">&nbsp;</div>
        <div class="w3-container w3-amber w3-col l10 m10 s10 w3-round-xlarge">
            <h6>© Szablony CyberAGH - Jakub Warchoł</h6>
        </div>
    </div>


    <script>
        function myFunction() {
            var x = document.getElementById("demo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }

        var canvas = document.getElementById('canvas');
        let ctx = canvas.getContext('2d');
        ctx.scale(0.11, 0.11);
        ctx.fillStyle = '#008080';
        ctx.fillRect(50, 100, 300, 50);

        ctx.fillStyle = '#000080';
        ctx.fillRect(100, 50, 200, 50);

        ctx.beginPath();
        ctx.arc(100, 150, 20, 0, 2 * Math.PI);
        ctx.arc(300, 150, 20, 0, 2 * Math.PI);
        ctx.fillStyle = '#000000';
        ctx.fill();
        ctx.stroke();
    </script>
</body>

</html>