doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Ksiega gosci
each wpis in wpisy
    div
        h2= wpis.name
        p= wpis.content

hr
h3 Nowy wpis:
main
  form(method='POST' action='/')
    label(for='name') Twoje imie i nazwisko
    br
    input(type='text' name='name')
    br
    label(for='content') Tresc wpisu
    br
    textarea(name='content' cols='50' rows='10')
    br
    input(type='submit' value='Dodaj wpis')