:root {
    --text-color-initial: green;
    --text-color-final: red;
}

@keyframes change_color {
    from {color: red;}
    to {color: yellowgreen;}
}

.azure {
    background-color: #EFF;
}

.shadow_border {
    border: 2px solid #A8A8A8;
    box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
}

.animate {
    animation-name: change_color;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}


header {
    padding-left: 10px;
    margin: 20px;
}

nav {
    width: 140px;
    margin: 20px;
    padding-left: 25px;
}

main {
    margin-left: 20px;
    width: 33%;
    padding-right: 0px;
    padding-bottom: 30px;
}

main h1 {
    padding-left: 20px;
}

aside {
    position: fixed;
    left: 50%;
    top: 130px;
    padding-left: 25px;
    width: 888px;
    padding-bottom: 20px;
}

footer {
    margin: 20px;
    padding: 10px;
}